* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

.showcase {
    background-color: #333;
    background-image:linear-gradient(180deg,rgba(37,37,37,.18) 0%,rgba(37,37,37,.18) 100%), url('../image/bg.jpg');
    background-position:100%;
    background-size:cover;
    background-repeat:no-repeat;
    height: 720px;

}

.showcase-subtitle {
    margin-top: 180px;
    margin-bottom: 40px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
}

.showcase-title {
    margin-bottom: 60px;
    font-size: 50px;
    font-family: 'caudex', serif ;
    color: #ffffff;
    font-weight: 400;
}

.showcase-about {
    background-color: #e61f12;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    text-align: center;
    padding: 70px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.showcase-about-img {
    border-radius: 50%;
}

.showcaselegend {
    color: #ffffff;
    font-family: 'caudex', serif ;
    font-weight: 400;
    font-size: 30px;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.btn-primary {
    color: #ffffff;
    background-color: #e61f12;
    border-radius: 4px 4px 4px 4px;
    font-weight: 600;
    border-color: #e61f12;
    padding: 13px 29px;
}

.btn-primary:hover {
    background-color: #212529;
    border-color: #212529;

}

.showcasesignature {
    margin-top: 15px;
}


.showcaselink {
    color: #ffffff;
    text-decoration: none;
}

.showcaselink:hover {
    color: #ffffff;
}

.calltoaction {
    background-color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;

}

.sectioncall1 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;

}

.sectioncall2 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;

}

.imgcall1 {
    border-radius: 50%;
}

.imgcall2 {
    border-radius: 50%;
}

.calldesc1 {
    font-size: 20px;
    font-weight: 100;
}

.calllink1 {
    color: #e61f12;
    text-decoration: none;
    font-weight: 600;
}

.calldesc2 {
    font-size: 20px;
    font-weight: 100;
}

.calllink2 {
    color: #e61f12;
    text-decoration: none;
    font-weight: 600;
}

.up {
    height:200px;
    background-color:rgba(226,226,226,1);
}

.uptitle {
    font-size: 54px;
    font-family: 'caudex', serif ;
    font-weight: 300;
    line-height: 1.8;
    color: #343333;
}

.item {
    width: 100vw;
    max-width: 1140px;
    margin-top:60px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
}

.item1 {
    width:280px;
    margin-bottom:40px;
}
.itemname {
    font-size:14px;
    margin-top:20px;
}

.itemlink {
    color: #747474;
    text-decoration: none;
}

.itemlink:hover {
    color: #747474;
}

.namelink {
    color: #747474;
    text-decoration: none;
}

.namelink:hover {
    color: #747474;
}

.lermais {
    font-size:14px;
    margin-top:20px; 
}

.lermaislink {
    color: #747474;
    text-decoration: none;
}

.lermaislink:hover {
    color: #747474;
}

.itemarea {
    width: 217px;
    height: 325px;
}

.iteminfo {
    position: absolute;
    background-color: #e61f12;
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    padding:40px;
    font-family:sans-serif;
    font-weight: 600;
    color: #ffffff;
}

.itemarea:hover .iteminfo {
    display: flex;
}